* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Yu Gothic UI", sans-serif;
}

body {
    background: #FAE7EB;
    overflow-x: hidden;
}

.main-title {
    width: 280px;
    padding: 60px 0 40px 28px;
    margin: -40px auto 50px auto;
}

.main-title span {
    display: block;
    font-size: 14px;
    text-align: center;
    letter-spacing: 2px;
    margin-top: -48px;
    color: #EA7AA0;
}

.about-profile {
    padding: 0 100px;
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: end;
    color: #212121;
}

.name {
    text-align: left;
}

.name h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 1.8rem;
    letter-spacing: 2px;
    line-height: 2;
}

.name p {
    margin-top: 20px;
    padding: 0;
    letter-spacing: 1px;
    line-height: 2;
}

.detail {
    width: 600px;
}

.detail p {
    font-size: 1rem;
    letter-spacing: 2px;
    line-height: 1.8;
}

.skill-section {
    padding-left: 28px;
}

.skills {
    margin-top: 100px;
    padding: 60px 100px;
}

.skills p {
    font-size: 1.6rem;
    letter-spacing: 2px;
    line-height: 2;
    color: #212121;
}

.skills span {
    font-size: 1rem;
    margin-left: 12px;
}

.icons i {
    font-size: 8rem;
    color: #fff;
}

.fa-pen-to-square {
    padding: 0 26px;
}

.fa-laptop-code {
    padding: 0 26px 0 0;
}

.icons p {
    color: #212121;
    font-size: 1.2rem;
}

.icon-design {
    display: flex;
    align-items: center;
    padding: 50px 0;
}
.icon-design h4 {
    font-size: 1.8rem;
    padding-left: 40px;
    color: #212121;
}
.icon-design p {
    font-size: 1.2rem;
    padding-left: 40px;
    margin-left: auto;
    padding-top: 20px;
}

/* .icon-design span {
    font-size: 1rem;
} */

/* .icon-development span {
    font-size: 1rem;
} */

.icon-development {
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.icon-development h4 {
    font-size: 1.8rem;
    padding-left: 40px;
    color: #212121;
} 
.icon-development p {
    font-size: 1.2rem;
    padding-left: 40px;
    margin-left: auto;
    padding-top: 20px;
}

.detail-02 {
    display: none;
}
@media screen and (max-width:768px) {
    .about-profile {
        display: block;
        padding: 0 28px;
    }
    .name h3 {
        font-size: 2rem;
    }
    .name p {
        font-size: 1rem;
    }

    .detail {
        display: none;
    }

    .detail-02 {
        display: block;
        width: 100%;
        text-align: left;
        margin: 0 auto;
        margin-top: 40px;
        letter-spacing: 2px;
        line-height: 2;
    }
    .detail-02 p {
        font-size: .88rem;
        text-align: left;
    }
    .skills {
        padding: 60px 28px;
    }
    .skill-section {
        padding-left: 0;
        text-align: left;
    }
    .icon-design h4 {
        border-top: 1px solid #212121;
        padding-left: 0;
        padding-top: 20px;
    }
    .icon-development h4 {
        border-top: 1px solid #212121;
        padding-left: 0;
        padding-top: 20px;
    }
    .icon-design p {
        text-align: left;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.8;
    }
    /* .icon-design span {
        line-height: 2;
        font-weight: normal;
    } */
    .icon-development p {
        text-align: left;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.8;
    }
    /* .icon-development span {
        line-height: 2;
        font-weight: normal;
    } */
    .icons i {
        display: none;
    }
    .icons p {
        padding-left: 0;
    }
}