@charset "utf-8";

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Yu Gothic UI", sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    /* background: linear-gradient(to bottom, #E6C3E4, #CFE0F8) no-repeat; */
    background: #FAE7EB;
    background-attachment: fixed;
    overflow-x: hidden;
}

/* navigation */
nav {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    z-index: 2;
    /* background: #fff; */
}

/* navigation M */
/* .logo {
    color: #EA7AA0;
    font-size: 22px;
} */
.logo img {
    max-width: 100%;
    height: auto;
    width: 200px;
    margin-top: 20px;
}

/* nav list */
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 38%;
    transition: all 0.5s ease-in-out;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #EA7AA0;
    letter-spacing: 1.4px;
}

/* humburger menu */
.burger {
    cursor: pointer;
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background: #EA7AA0;
    margin: 5px;
    transition: all 0.5s ease-in-out;
}

/* translateX(100%) で隠した .nav-links li を出す */
.nav-active {
    transform: translateX(0%) !important;
}
.nav-links a:hover {
    opacity: .5;
}

/* 1024px & 768px ブレイクポイント */

/* window-size 1024px を下回ったとき */
@media screen and (max-width: 1024px) {

    /* nav list */
    .nav-links {
        width: 55%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .logo {
        padding: 0 20px;
    }
    .logo img {
        width: 100px;

    }

    /* .nav-links 移動 */
    .nav-links {
        position: absolute;
        left: 0;
        height: 100vh;
        top: 0;
        background: #FAE7EB;
        display: block;
        padding: 50px 0;
        width: 220px;
        transform: translateX(-100%);
        z-index: 2;
    }

    .nav-links li {
        opacity: 0;
        border-bottom: 1.2px solid #EA7AA0;
        width: 200px;
    }

    .nav-links a {
        display: block;
        color: #EA7AA0;
        padding: 1rem;
        transition-duration: 0.2s;
    }

    .nav-links a:hover {
        opacity: .5;
    }

    /* humburger */
    .burger {
        display: block;
        margin-left: auto;
        padding: 0 20px;
    }
}

/* .nav-links li が横から透明度を上げながら出てくる */
@keyframes navLinksFade {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* humburger-menu を✕に変更 */
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


/* header */
.top-logo {
    /* height: 92vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.top-name img {
    max-width: 100%;
    vertical-align: middle;
    width: 1400px;
    height: auto;
    margin-top: -100px;
    justify-content: center;
}
.box-top {
    display: none;
}

@media screen and (max-width: 768px) {
    .logo img {
        max-width: 100%;
        height: auto;
        width: 148px;
    }
    .top-logo {
        display: block;
        text-align: center;
        height: 80vh;
    }
    .shadow-logo {
        height: 28rem;
        margin: 0 auto;
    }

    .top-name img {
        margin-top: 80px;
    }
    .m-logo {
        padding: 0;
        text-align: center;
    }
    .m-logo img {
        margin: 0;
        padding-top: 30vh;
        padding-right: 0;
        width: 52vw;
    }

    .box-top {
        display: block;
        opacity: .6;
      }
      
}
@media screen and (max-width: 650px) {
    .top-logo {
        display: block;
    }
        .shadow-logo {
        width: 280px;
        height: 280px;
    }
    /* .top-logo h1 {
        padding: 0;
        position: absolute;
        top: 26vh;
        font-size: 2rem;
    } */
    .m-logo {
        padding: 0;
        text-align: center;
    }
    .m-logo img {
        margin: 0;
        padding-top: 32vh;
        padding-right: 0;
        width: 70vw;
    }
}

@media screen and (max-width:430px) {
    /* アニメーション設定 */
    .arrowWrap {
        justify-content: center;
        height: 200px;
      }
      /* .arrowInner p {
        font-size: .6rem;
      } */
      
      .arrow {
        width: 4px;
        height: 140px;
        margin: 20px auto 0;
        /* background-color: #fff; */
        position: relative;
        overflow: hidden;
        margin-top: -20px;
      }
      
      .arrow::before {
        content: '';
        width: 4px;
        height: 140px;
        margin: 50px auto 0;
        background-color: #fff;
        position: absolute;
        top: -150px;
        left: 0;
        -webkit-animation: arrow 2.5s ease 0s infinite normal;
        animation: arrow 2.5s ease 0s infinite normal;
      }
      
      @keyframes arrow {
        0% {
          -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
        }
      
        60% {
          -webkit-transform: translate3d(-50%, 100px, 0);
          transform: translate3d(-50%, 100px, 0);
        }
      
        100% {
          -webkit-transform: translate3d(-50%, 100px, 0);
          transform: translate3d(-50%, 100px, 0);
        }
      }
}


/* WORKS */

.works-section h3 {
    margin: 0;
    padding-top: 64px;
    text-align: center;
    font-weight: normal;
    font-size: 1.6rem;
    color: #EA7AA0;
    letter-spacing: 1.4px;
}
.works-logo {
    width: 240px;
    margin: 0 auto;
}
/* works slider roop */
.slider {
    overflow: hidden;
}

.works-page {
    display: flex;
    animation: slide 15s linear infinite;
    margin-top: 10px;
}

.works-page div img {
    width: 28rem;
    height: 18rem;
    background: #fff;
    border-radius: 20px;
    flex: 0 0 auto;
    margin: 0 12px;
     /* box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2); */
}

@media screen and (max-width:768px) {
    .works-page div img {
        width: 18rem;
        height: 12rem;
        border-radius: 12px;
    }
    .works-page {
        display: flex;
        animation: slide 10s linear infinite;
        margin-top: 10px;
    }
}

@keyframes slide {
    0% {
        transform: translateX(0);
        /* 初期位置 */
    }

    100% {
        transform: translateX(-100%);
        /* 終了位置 */
    }
}


/* view more button */
.view-more {
    margin-top: 60px;
    text-align: center;
}

button {
    all: unset;
    width: 12em;
    height: 2.8em;
    background: #EA7AA0;
    border-radius: 50px;
}

button p {
    padding: 0;
    margin: 0;
    text-align: center;
    color: #fff;
    letter-spacing: 1.2px;
    font-size: .88rem;
}

.works-btn {
    text-decoration: none;
}
@media screen and (max-width:768px) {
    button {
        width: 10em;
        height: 2.4em;
    }
    
    button p {
        padding: 0;
        margin: 0;
        font-size: .8rem;
    }
}

/* ABOUT */
.about-logo {
    width: 240px;
    margin: 100px auto 0 auto;
    padding-left: 40px;
}
.about {
    display: flex;
    padding: 0 100px 60px 100px;
    gap: 80px;
    /* justify-content: space-between; */
    align-items: center;
    /* text-align: center; */
    margin: 0 auto;
    justify-content: center;
}
.about-img  img{
    width: 350px;
    height: auto;
    background: none;
    border-radius: 20px;
    max-width: 100%;
    /* height: auto; */
}
.about-contents {
    width: 38%;
}
.about-contents h4 {
    margin-bottom: 40px;
    color: #EA7AA0;
    letter-spacing: 1.4px;
    font-weight: normal;
    font-size: 1.4rem;
}
.about-contents p {
    margin: 0;
    color: #EA7AA0;
    letter-spacing: 1.4px;
    font-size: .92rem;
    line-height: 2.6;
}

.view-more-about {
    margin-top: 40px;
}

.about-btn {
    all: unset;
    width: 10.8rem;
    height: 2.6rem;
    /* background: #fff; */
    border-radius: 50px;
    background: #EA7AA0;
    /* border: 1px solid #BBA1DD; */
    /* box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.2); */
}

.about-btn p {
    padding: 0;
    margin: 0;
    text-align: center;
    color: #fff;
    letter-spacing: 1.2px;
    font-size: .88rem;
}

.about-btn {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .about {
        display: block;
        text-align: center;
        padding: 0 60px;
    }
    .about-contents {
        width: 100%;
    }
    .about-contents h4 {
        font-size: 1rem;
        margin-bottom: 20px;
    }
    .about-contents p {
        font-size: .68rem;
        line-height: 2;
    }
    .about-btn {
        width: 10em;
        height: 2.4em;
    }
    
    .about-btn p {
        padding: 0;
        margin: 0;
        font-size: .8rem;
    }
}

/* CONTACT */
.contact-logo {
    width: 240px;
    margin: 90px auto 0 auto;
}
.contact-card {
    /* background-color: none; */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 48px;
    width: 400px;
    height: 300px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .contact-card {
        width: 260px;
    }
}
@media screen and (max-width: 400px) {
    .contact-card {
        width: 240px;
        margin: -20px auto 0 auto;
    }
}

@media screen and (max-width: 350px) {
    .contact-card {
        width: 180px;
        margin: -20px auto 0 auto;
    }
}

.contact-card label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #EA7AA0;
    font-weight: normal;
}

input:focus {
    /* border-color: #007bff; クリック時の枠の色を変更 */
    outline: none;
    /* デフォルトのフォーカス時のアウトラインを非表示にする */
}

textarea:focus {
    outline: none;
}

.contact-card input,
.contact-card textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #EA7AA0;
    border-radius: 4px;
}

.send-btn {
    margin-top: 12px;
    text-align: center;
}

.contact-card button {
    width: 10.8em;
    height: 2.6em;
    background: #EA7AA0;
    border-radius: 50px;
    /* border: 1px solid #BBA1DD;
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.2); */
    margin-bottom: 200px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    letter-spacing: .2px;
}
.send-btn p {
    padding: 0;
    margin: 0;
}
.contact-card p {
    font-size: .88rem;
}

.contact-card button:hover {
    transition: .5s;
    background-color: #F8A8C5;
}

button:hover {
    transition: .5s;
    background-color: #F8A8C5;
}

.return a {
    margin-left: auto;
    padding: 80px 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
}

.arrow-return {
    width: 20px;
    height: 20px;
    border-top: 3px solid #EA7AA0;
    border-right: 3px solid #EA7AA0;
    transform: rotate(-45deg);
    margin-top: 5px;
}
.return p {
    font-size: 0.8rem;
    text-align: right;
    margin-right: 24px;
    margin-top: -20px;
    color: #EA7AA0;
}