@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Yu Gothic UI", sans-serif;
}

body {
    background: #FAE7EB;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 100px;
    color: #EA7AA0;
    overflow-x: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container .section-title {
    text-align: center;
    margin: 40px auto 0 auto;
}

.main-title {
    width: 280px;
    margin-bottom: 50px;
}
.main-title span {
    display: block;
    font-size: 14px;
    text-align: center;
    letter-spacing: 2px;
    margin-top: -60px;
}

.content {
    width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 0 60px 100px 60px;
}

.content img {
    position: relative;
    width: 600px;
    height: 400px;
    overflow: hidden;
}

.content .image img {
    /* top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
    object-fit: cover;
    border-radius: 10px;
    z-index: 10;

}

h3 {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}

.text-box {
    z-index: 20;
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    max-width: 400px;
    transform: translate(-80px, 50px);
    backdrop-filter: blur(20px);
    border-radius: 1px solid rgba(255, 255, 255, 0.1);
}

.text-box h4 {
    font-size: 1.4rem;
    margin-bottom: 10px;
}
.media-text-box {
    display: none;
}

@media screen and (max-width: 1024px) {
    .main-title {
        font-size: 2rem;
    }

    .content {
        width: 800px;
        padding-left: 0;
    }

    .content img {
        width: 500px;
        height: 300px;
    }

    .text-box h3 {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 768px) {
    .main-title {
        font-size: 1.8rem;
    }
    .content {
        width: 600px;
        padding: 0;
        display: block;
        margin-top: 18px;
    }
    .section-01 .image {
        text-align: center;
    }
    .content img {
        width: 300px;
        height: 200px;
    }
    .section-01 .text-box {
        display: none;
    }
    .media-text-box {
        display: block;
        width: 300px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .media-text-box p {
        margin-top: 10px;
        font-size: .8rem;
    }

    .text-box h3 {
        font-size: .6rem;
    }
}



/* section 02 */
.section-title {
    font-size: 2.4rem;
    margin: 80px auto 0 auto;
}
.section-03 img {
    background: #fff;
}
.info-title {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.info {
    width: 700px;
    margin-left: 50px;
}
.section-02-02 .info {
    margin-left: 0;
}

.section-02-media {
    display: none;
}

@media screen and (max-width: 1024px) {
    .section-title {
        font-size: 2rem;
        /* margin-bottom: 50px; */
    }
    .info-title {
        font-size: 1.4rem;
    }
    .info {
        width: 700px;
        margin-left: 30px;
    }

    .section-02 .content {
        padding: 0;
    }

    .section-03 .content {
        padding: 0;
    }
}
@media screen and (max-width: 768px) {
    .section-02-02 {
        display: none;
    }
    .section-02-media {
        display: block;
    }
    .section-02 .image {
        text-align: center;
    }
    .section-02-media .image {
        text-align: center;
    }
    .section-02 .info {
        width: 300px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .section-02-media .info {
        width: 300px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .info p {
        font-size: .64rem;
    }
}
/* section 03 */
.media-info {
    width: 280px;
    margin-left: 10px;
}

.media-info li {
    list-style: none;
    font-size: 1.4rem;
}

.media-info li a {
    color: #212121;
    text-decoration: none;
}

.media-info li:not(:last-child) {
    margin-bottom: 50px;
}

.media-info li:nth-child(1),
.media-info li:nth-child(5) {
    padding-left: 100px;
}

.media-info li:nth-child(2),
.media-info li:nth-child(4) {
    padding-left: 50px;
}

.section-03 {
    margin-bottom: 80px;
}

p {
    line-height: 2;
    letter-spacing: 1.8px;
    font-size: 1rem;
}
.media-info p {
    padding-right: 20px;
}

@media screen and (max-width: 1024px) {

    .section-03 .content {
        padding-right: 52px;
    }

    .media-info {
        width: 240px;
        margin-left: 20px;
    }

    .media-info li {
        font-size: 1.2rem;
    }

    .media-info li:not(:last-child) {
        margin-bottom: 30px;
    }
    .section-03 {
        margin-bottom: 20px;
    }

}
@media screen and (max-width: 768px) {
    .section-03 .content {
        margin: 0 auto;
        padding-right: 0;
    }
    .section-03 .image {
        margin-top: 20px;
        text-align: center;
    }
    .media-info {
        display: none;
    }
    .section-03 p {
        font-size: .68rem;
    }
    .section-03 {
        margin-bottom: 40px;
    }

}

.back {
    margin: 0 0 40px 0;
    text-align: center;
}
.back button {
    background: #fff;
    color: #212121;
    border-radius: 20px;
    padding: 10px 18px;
    border: none;
}
.back button:hover {
    transform: translateY(-5px);
    transition: .4s;
}